*{
    margin: 0;
    padding: 0;
}

body{

    background-image: url(imgs/Landing_page_background.png);
    background-size: 100%;
}

header{
    background-image: url(imgs/Header-Background.png);
    background-size: cover;
    height: 400px;

    display: flex;

    a{
        font-family: Bokor;
        font-size: 50px;

        margin: 30px;
        padding:20px;
        text-decoration: none;
        color: white;

        transition: 0.3s;

    }

    a:hover{

        text-shadow: 4px 4px black;
    }

    img{
        padding: 10px;
    }
}

.navbar{

    margin: auto;
    margin-bottom: 160px;
}

.cont_cancion{

    display: flex;
    justify-content: space-around;
    height: 600px;
    img{
        margin: auto;
        padding: 50px;
        height:300px;
        transition: 0.4s;
    }

    img:hover{

        transform: scale(1.1);
    }
}

.texto_vinilo{
    width: 50%;
    margin: auto;
    h1{
        font-family: Bokor;
        font-size: 48px;
        font-weight: bold;
        color: white;
    }
    p{
        text-align: justify;
        font-family: poppins;
        font-size: 24px;
        color: white;
    }
    

}

.cont_video{

    background-image: url(imgs/video-background.png);
    background-size: contain;
    height: 800px;
    display: flex;
    video{
        margin: auto;
        width: 60%;
        border-radius: 50px;
        
    }
    
}

footer{

    width: 100%;
    height: 500px;

    display: flex;
    justify-content: space-between;


    background-image: url(imgs/footer-background.png);
    background-size: contain;


}

.cont_texto_footer{
    height: 30%;
    display: grid;
    margin: auto;
    margin-top: 250px;

    a{
        margin: 5px;
        margin-left: 0px;
        font-family: poppins;
        text-decoration: none;
        color: white;
    }

    a:hover{

        text-decoration: underline;
    }

    h2{
        font-family: Bokor;
        font-size: 30px;
        color: white;
    }

    p{
        color: white;
        font-family: poppins;
    }

}

.iconos{

    margin: auto;
}

.icono{
    margin: 10px;
    height: 50px;
    width: 50px;

}